<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %> Genre</title>
    <%- include('head') -%>
</head>
<body>
    <h1>List of Genres' TV shows</h1>
    <ul class="appList">
        <% genre_tvshows.forEach(tvshow => { %>
        <li><a href=<%= tvshow.url %>><%= tvshow.name %></a></li>
        <% }) %>
    </ul>
    <br><br>
    <div class="div">
        <a href="<%= genre.url+'/updateAuth' %>"><button class="btn btn-primary">Edit</button></a>   
        <a href="<%= genre.url+'/deleteAuth' %>"><button class="btn btn-primary">Delete</button></a> 
    </div>
    <div><a href="/"><button class="btn btn-primary"><</button></a></div>
</body>
</html>