<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %> Genre</title>
    <%- include('head') -%>
</head>
<body>
    Info about <%= title %> Genre
    <h1>List of Genres' TV shows</h1>
    <% genre_tvshows.forEach(tvshow => { %>
      <li><a href=<%= tvshow.url %>><%= tvshow.name %></a></li>
    <% }) %>
    <br><br>
    <div class="div">
        <a href="<%= genre.url+'/update' %>"><button>Edit</button></a>   
        <a href="<%= genre.url+'/delete' %>"><button>Delete</button></a> 
    </div>
    <a href="/"><button><</button></a>
</body>
</html>