<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('head') -%>
  </head>
  <body>
    <nav class="navbar">
      <h1><%= title %></h1>
      <div class="nav_menu">
        <ul>
          <li class="nav_menu_item"><a href="/">Home</a></li>
          <li class="nav_menu_item"><a href="/imdb/network/create">Add a Network</a></li>
        </ul>
      </div>
    </nav>
    <ul class="appList">
        <% networks.forEach(network => { %>
          <li><a href=<%= network.url %>><%= network.name %></a></li>
        <% }) %>
    </ul>
  </body>
</html>
