<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= tvshow.name %> TV show</title>
    <%- include('head') -%>
</head>
<body>
    <h3>Info about <%= tvshow.name %> TV show</h3>
    <br><br>
    Desc   : <%= tvshow.desc %>
    <br>
    Qty    : <%= tvshow.num_stock %>
    <br>
    Genre  : <%= tvshow.genre.name %>
    <br>
    Network  : <%= tvshow.network.name %>
    <br>
    <img class="tvshow_image" src="/images/<%= tvshow.image %>"
    <div class="div">
        <a href="<%= tvshow.url+'/updateAuth' %>"><button class="btn btn-primary">Edit</button></a>   
        <a href="<%= tvshow.url+'/deleteAuth' %>"><button class="btn btn-primary">Delete</button></a> 
    </div>
    <a href="<%= tvshow.genre.url %>"><button class="btn btn-primary"><</button></a>
</body>
</html>