<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= tvshow.name %> TV show</title>
</head>
<body>
    Info about <%= tvshow.name %> TV show
    <br><br>
    Desc   : <%= tvshow.desc %>
    <br>
    Qty    : <%= tvshow.num_stock %>
    <br>
    Genre  : <%= tvshow.genre %>
</body>
</html>